body {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

label, h5 {
    text-align: left;
    display: block;
}

h1 {
    padding: 7px;
}

input, select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid black;
    box-sizing: border-box;
    display: block;
}

#valgte {
    color: black;
}
